/* 这里放置的CSS将应用于所有皮肤 */


/*Variable*/


/*:root {
    light-light-color: #f3f3f3; 
    --ll-color: rgba(243, 243, 243, 1);
    ligth-color: #c0c7da;
    --l-color: rgba(192, 199, 218, 1);
    dark-color: #282f44;
    --d-color: rgba(40, 47, 68, 1);
    dark-dark-color: #202636;
    --dd-color: rgba(32, 38, 54, 1);
    keyword-color: #f5b95f;
    --kw-color: rgba(245, 185, 95, 1);
    keyword-color-light: #f5d6a9;
    keyword-color-dark: #d9cfbf;
}*/


/*Global Background*/

#wiki-outer-body.huiji-css-hook {
    /*background-image: url(http://huiji-public.huijistatic.com/rimworld/uploads/7/70/BGPlanet2.jpg);*/
    background-image: url(http://huiji-public.huijistatic.com/rimworld/uploads/a/a5/Global_bg_img.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}


/*Edge Hack*/

@supports (-ms-ime-align:auto) {
    html {
        overflow: hidden;
        height: 100%;
    }
    body {
        overflow: auto;
        height: 100%;
    }
}


/*IE 10/11 Hack*/

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    html {
        overflow: hidden;
        height: 100%;
    }
    body {
        overflow: auto;
        height: 100%;
    }
}

.header .navbar-header #menu-toggle {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

#sidebar-wrapper .sidebar-nav ul li {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

a {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.item {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}


/*Font*/

.huiji-css-hook #content-actions,
.huiji-css-hook #wiki-body {
    font-family: "Source Sans Pro", "Helvetica Neue", "Arial", "sans-serif", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", "SimSun", "sans-serif";
}

.huiji-css-hook #wiki-body {
    font-size: 15px;
}

a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.huiji-css-hook a:hover,
.huiji-css-hook a:focus {
    color: #f5b95f;
    text-decoration: none;
    text-shadow: 0 0 8px rgba(245, 185, 95, 0.6);
}

.huiji-css-hook .selflink,
.huiji-css-hook .selflink:hover {
    color: #f5d6a9;
}

code {
    padding: 3px 4px 2px 4px;
    background-color: rgba(192, 199, 218, 0.1);
    color: #d9cfbf;
}

hr {
    border-color: rgba(192, 199, 218, 0.2);
}

.rating-total {
    color: #f5b95f;
    font-size: 14px;
}

.huiji-css-hook #wiki-body .bdsharebuttonbox a {
    background-color: transparent;
    color: #f5b95f;
}

@font-face {
    font-family: RimWordFont;
    src: url("http://huiji-public.huijistatic.com/rimworld/uploads/6/6a/RimWordFont.ttf");
}

.rw-font {
    font-family: "RimWordFont", "Source Sans Pro", "Helvetica Neue", "Arial", "sans-serif";
}


/*Navbar*/

.subnav .nav-pills>:first-child {
    background-image: url(http://huiji-public.huijistatic.com/rimworld/uploads/6/69/Rimworldlogo_main.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.subnav .nav-pills>:first-child a {
    opacity: 0;
}


/*Wiki Body*/

@media (min-width: 768px) {
    .wiki-body-section {
        padding-left: 32px;
        padding-right: 32px;
    }
}

.huiji-css-hook #wiki-body {
    box-shadow: 0 0 60px 0px rgba(0, 0, 0, .15);
    margin-bottom: 60px;
}


/*First Heading*/

.huiji-css-hook #firstHeading {
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(192, 199, 218, 0.3);
}

.huiji-css-hook #firstHeading #huiji-h1-edit-button {
    bottom: 3px;
}

.huiji-css-hook #firstHeading #huiji-h1-edit-button #alt-ca-ve-edit::before {
    content: "\f044";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    line-height: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.huiji-css-hook #firstHeading #huiji-h1-edit-button .mw-editsection-divider {
    display: none;
}

.huiji-css-hook #firstHeading #huiji-h1-edit-button #ca-edit.icon-edit-code::before,
.huiji-css-hook #firstHeading #huiji-h1-edit-button #alt-ca-edit::before {
    content: "\f121";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    line-height: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.huiji-css-hook #firstHeading #huiji-h1-edit-button a {
    margin-right: 8px;
}

.huiji-css-hook #firstHeading #contentSub {
    margin-top: 8px;
}


/*mw-content-text*/

.huiji-css-hook #mw-content-text {
    padding: 32px 0;
}


/*.huiji-css-hook #mw-content-text>h2::before {
    content: " ";
    display: inline-block;
    position: absolute;
    left: 10px;
    width: 6px;
    height: 38px;
    background-color: #f5b95f;
}

@media(max-width:768px) {
    .huiji-css-hook #mw-content-text>h2::before {
        left: 0px;
    }
}*/


/*TOC Sidebar*/

@media(min-width: 768px) {
    .toc-sidebar {
        padding-left: 0;
        margin-left: -20px;
    }
}

.toc-sidebar a {
    -webkit-transition: border 0.3s ease-out;
    -moz-transition: border 0.3s ease-out;
    -ms-transition: border 0.3s ease-out;
    -o-transition: border 0.3s ease-out;
    transition: border 0.3s ease-out;
    -webkit-transition: background 0.3s ease-out;
    -moz-transition: background 0.3s ease-out;
    -ms-transition: background 0.3s ease-out;
    -o-transition: background 0.3s ease-out;
    transition: background 0.3s ease-out;
}


/*.toc-sidebar .active a,
.toc-sidebar a:hover {
    will-change: border;
    will-change: background;
}*/

.toc-sidebar .nav>li>a,
.toc-sidebar .nav>.active:focus>a,
.toc-sidebar .nav>.active:hover>a,
.toc-sidebar .nav>.active>a,
.toc-sidebar .nav .nav>.active:focus>a,
.toc-sidebar .nav .nav>.active:hover>a,
.toc-sidebar .nav .nav>.active>a,
#wiki-outer-body .toc-sidebar li a:hover,
#wiki-outer-body .toc-sidebar li.active>a:hover {
    color: #c0c7da;
    font-weight: normal;
    border-left-width: 4px;
}


/*.toc-sidebar .nav>li>a,
.toc-sidebar .nav>.active:focus>a,
.toc-sidebar .nav>.active:hover>a,
.toc-sidebar .nav>.active>a,
#wiki-outer-body .toc-sidebar li a:hover,
#wiki-outer-body .toc-sidebar li.active>a:hover {
    padding: 4px 16px;
    font-size: 13px;
}*/

.toc-sidebar .toc-ul-wrap {
    width: 100%;
}

#toc ul {
    padding-left: 0;
}

.toc-sidebar .toc-ul-wrap>ul {
    padding: 1rem 0;
}

#wiki-outer-body .toc-sidebar li a:hover,
#wiki-outer-body .toc-sidebar li.active>a,
#wiki-outer-body .toc-sidebar li.active>a:hover {
    color: #f3f3f3;
}

#wiki-outer-body .toc-sidebar li>a:hover {
    border-color: rgba(192, 199, 218, 0.5);
    background-color: rgba(192, 199, 218, 0.15);
}

#wiki-outer-body .toc-sidebar li.active>a,
#wiki-outer-body .toc-sidebar li a:active {
    border-color: rgba(245, 185, 95, 0.8);
}

#wiki-outer-body .toc-sidebar li.active>a {
    background-color: rgba(245, 185, 95, 0.15);
}

#wiki-outer-body .toc-sidebar li a:active {
    background-color: rgba(245, 185, 95, 0.8);
}


/*Acrylic*/

.rw-tab,
.rw-collapse {
    position: relative;
    overflow: hidden;
}

.rw-tab *,
.rw-collapse * {
    position: relative;
}

.acrylic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.acrylic::before {
    content: " ";
    display: block;
    position: absolute;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    background-color: rgba(32, 38, 54, 0.8);
    z-index: -1;
}

.acrylic::after {
    content: " ";
    display: block;
    position: absolute;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    background-image: url(http://huiji-public.huijistatic.com/rimworld/uploads/a/a5/Global_bg_img.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: blur(16px);
    -moz-filter: blur(16px);
    -ms-filter: blur(16px);
    -o-filter: blur(16px);
    filter: blur(16px);
    z-index: -2;
}


/*RW Section*/

.rw-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
    min-height: 30rem;
}

.rw-exhibition {
    padding-bottom: 0.5em;
    padding-top: 25px;
}


/*Button*/

.rw-btn,
.rw-btn *,
.rw-lbtn,
.rw-lbtn * {
    user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    -webkit-user-select: none!important;
}

.rw-btn,
.rw-btn *,
.rw-lbtn,
.rw-lbtn * {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transition: border 0.3s ease-out;
    -moz-transition: border 0.3s ease-out;
    -ms-transition: border 0.3s ease-out;
    -o-transition: border 0.3s ease-out;
    transition: border 0.3s ease-out;
    -webkit-transition: background 0.3s ease-out;
    -moz-transition: background 0.3s ease-out;
    -ms-transition: background 0.3s ease-out;
    -o-transition: background 0.3s ease-out;
    transition: background 0.3s ease-out;
}

.rw-btn-icon-right {
    margin-left: 12px;
}

.rw-btn-icon-left {
    margin-right: 12px;
}

.rw-btn,
.rw-lbtn {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    padding: 4px 16px;
    border: 2px solid rgba(192, 199, 218, 0.15);
    background-color: rgba(192, 199, 218, 0.05);
    margin: 2px;
}

.rw-lbtn {
    float: left;
    width: 104px;
    height: 128px;
    position: relative;
    overflow: hidden;
    padding: 10px 6px;
    margin: 16px 4px;
}

.rw-btn:hover,
.rw-btn:active,
.rw-lbtn:hover,
.rw-lbtn:active {
    color: #f3f3f3;
}

.rw-btn:hover,
.rw-lbtn:hover {
    border-color: rgba(192, 199, 218, 0.5);
    background-color: rgba(192, 199, 218, 0.15);
    box-shadow: 0 0 8px 1px rgba(192, 199, 218, 0.1);
}

.rw-btn:active,
.rw-lbtn:active {
    border-color: rgba(245, 185, 95, 0.8);
    background-color: rgba(245, 185, 95, 0.8);
    box-shadow: 0 0 12px 1px rgba(245, 185, 95, 0.2);
}

.rw-lbtn-container {
    display: inline-block;
    width: 100%;
    margin: 0 -4px;
}

.rw-lbtn-container::before,
.rw-lbtn-container::after {
    content: " ";
    display: table;
}

.rw-lbtn-label {
    display: table-cell;
    width: 88px;
    height: 40px;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    padding-top: 8px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.rw-lbtn-link,
.rw-lbtn-link a {
    display: inline-block;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


/*Large Button Icon, Textrue, Capture*/

.rw-lbtn-icon {
    display: block;
    width: 64px;
    height: 64px;
    position: relative;
    overflow: hidden;
    margin: auto;
}

.rw-blend {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: multiply;
}


/*Edge Hack*/

@supports (-ms-ime-align:auto) {
    .rw-blend {
        display: none;
    }
}


/*IE 10/11 Hack*/

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .rw-blend {
        display: none;
    }
}

.rw-texture {
    position: relative;
    overflow: hidden;
}

.rw-texture,
.rw-texture>img {
    user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    -webkit-user-select: none!important;
}

.x64 {
    width: 64px;
    height: 64px;
}

.x128 {
    width: 128px;
    height: 128px;
}

.x256-128 {
    width: 256px;
    height: 128px;
}

.rw-biome,
.rw-biome img {
    width: 512px;
    height: 512px;
}

.rw-terrain,
.rw-terrain img {
    width: 1024px;
    height: 1024px;
}

.rw-capture {
    max-width: 100%;
    margin: 40px 0;
}

.rw-capture img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 24px 3px rgba(0, 0, 0, 0.2);
}


/*Nav Tab*/

.rw-tab {
    color: #c0c7da;
    position: relative;
    padding: 0 24px;
    border: 1px solid rgba(192, 199, 218, 0.2);
    overflow: hidden;
    margin: 40px 0;
    box-shadow: 0 0 24px 3px rgba(0, 0, 0, 0.2);
}

.rw-tab-list {
    padding: 16px 0!important;
    border-bottom: 1px solid transparent;
    margin: 0 -2px!important;
}

.rw-tab-list>li,
.rw-tab-list>li * {
    user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    -webkit-user-select: none!important;
}

.rw-tab-list>li:hover,
.rw-tab-list>li.active,
.rw-tab-list>li:active,
.rw-tab-list>li.active>.rw-btn,
.rw-tab-list>li.active>.rw-lbtn {
    color: #f3f3f3;
}

.rw-tab-list>li.active>.rw-btn,
.rw-tab-list>li.active>.rw-lbtn {
    border-color: rgba(245, 185, 95, 0.8);
    background-color: rgba(245, 185, 95, 0.3);
}

.rw-tab-list>li.active>.rw-btn:hover,
.rw-tab-list>li.active>.rw-lbtn:hover {
    box-shadow: 0 0 12px 1px rgba(245, 185, 95, 0.2);
}

.rw-tab-list>li.active>.rw-btn:active,
.rw-tab-list>li.active>.rw-lbtn:active {
    background-color: rgba(245, 185, 95, 0.8);
}

.rw-tab-content {
    border-top: 1px solid rgba(192, 199, 218, 0.2);
}

.rw-tab-pane {
    padding: 24px 0;
}


/*RW Collapse*/

.rw-collapse {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    border: 1px solid rgba(192, 199, 218, 0.2);
    border-radius: 0;
    margin: 40px 0;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, .15);
}

.rw-collapse-group {
    /*background-color: #282f44;*/
    max-width: 100%;
    padding-bottom: 5px;
    border-radius: 0;
    margin: 40px 0;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, .15);
}

.rw-collapse-group .rw-collapse {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: none;
}

.rw-collapse-group .rw-collapse+.rw-collapse {
    margin-top: 5px;
}

.rw-collapse-head {
    text-align: center;
    color: #c0c7da;
    font-size: 20px;
    padding: 12px 16px;
    cursor: pointer;
    user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    -webkit-user-select: none!important;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.rw-collapse-head::after,
.rw-collapse-head::before,
.rw-collapse-navbox::before {
    content: "\f078";
    color: inherit;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    line-height: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
}

.rw-collapse-head.collapsed::after {
    content: "\f077";
}

.rw-collapse-head::before {
    color: transparent;
    float: left;
}

.rw-collapse-navbox::before {
    content: "O";
    color: inherit;
    float: left;
    font-family: "RimWordFont";
}

.rw-collapse-head:hover {
    color: #f3f3f3;
}

.rw-collapse-head h2,
.rw-collapse-head h2 .mw-headline {
    display: inline;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    border-bottom: none;
    padding-bottom: 0;
    padding-top: 0;
    margin: 0;
}

.rw-collapse-above {
    text-align: center;
    font-size: 14px;
    padding: 8px 16px;
    /*background-color: rgba(192, 199, 218, 0.05);*/
}

.rw-collapse-content {
    padding: 24px 16px;
    background-color: rgba(192, 199, 218, 0.1);
}


/*RW Tables*/

.rw-ctable-simple {
    border: 1px solid rgba(192, 199, 218, 0.2);
}

.rw-collapse>.collapse>.rw-ctable-simple,
.rw-collapse>.collapsing>.rw-ctable-simple {
    border: none;
}

.rw-ctable-simple,
.rw-navbox {
    color: #c0c7da;
    /*background-color: #282f44;*/
    width: 100%;
    margin: 32px 0;
    border-spacing: 0;
    -webkit-transition: background 0.3s ease-out;
    -moz-transition: background 0.3s ease-out;
    -ms-transition: background 0.3s ease-out;
    -o-transition: background 0.3s ease-out;
    transition: background 0.3s ease-out;
}

.rw-tab-pane>.rw-ctable-simple {
    margin: 8px 0;
}

.rw-collapse>.collapse>.rw-ctable-simple,
.rw-collapse>.collapsing>.rw-ctable-simple,
.rw-collapse>.collapse>.rw-navbox,
.rw-collapse>.collapsing>.rw-navbox {
    margin: 0;
}

.rw-ctable-simple tr:hover,
.rw-navbox th.rw-navbox-label {
    color: #f3f3f3;
    -webkit-transition: background 0.3s ease-out;
    -moz-transition: background 0.3s ease-out;
    -ms-transition: background 0.3s ease-out;
    -o-transition: background 0.3s ease-out;
    transition: background 0.3s ease-out;
}

.rw-ctable-simple tr.rw-ctable-thumbnail:hover {
    color: #c0c7da;
}

.rw-ctable-simple tr.rw-ctable-thumbnail td {
    padding: 24px;
}

.rw-ctable-simple th {
    font-size: 16px;
    font-weight: normal;
}

.rw-navbox th.rw-navbox-label {
    white-space: nowrap;
    text-align: right;
    font-weight: normal;
}

.rw-navbox td.rw-navbox-list {
    width: 100%;
}

.rw-ctable-simple td,
.rw-navbox th,
.rw-navbox td {
    font-size: 14px;
}

.rw-ctable-simple td.multi-cols {
    border-top: 1px solid rgba(192, 199, 218, 0.1);
    border-bottom: 1px solid rgba(192, 199, 218, 0.1);
}

.rw-ctable-simple td+td {
    border-left: 1px solid rgba(192, 199, 218, 0.1);
}

.rw-ctable-simple th+th {
    border-left: 1px solid rgba(192, 199, 218, 0.1);
}

.rw-navbox tr+tr>th,
.rw-navbox tr+tr>td {
    border-top: 1px solid rgba(32, 38, 54, 0.15);
}

.rw-ctable-simple .item,
.rw-navbox .item {
    display: inline-block;
    padding-right: 8px;
}

@media screen and (min-width: 768px) {
    .rw-navbox.rw-navbox-child th.rw-navbox-label,
    .rw-navbox.subgroup th.rw-navbox-label {
        border-left: 1px solid rgba(32, 38, 54, 0.15);
    }
}

@media screen and (max-width: 768px) {
    .rw-navbox th.rw-navbox-label,
    .rw-navbox td.rw-navbox-list {
        text-align: left;
        display: block !important;
        width: 100% !important;
        border-top: 1px solid rgba(32, 38, 54, 0.15);
    }
}

.rw-ctable-simple th,
.rw-ctable-simple td,
.rw-navbox th,
.rw-navbox td {
    padding: 8px 24px;
}

.rw-ctable-simple th.rw-ctable-empty {
    padding: 0;
}

.rw-navbox td.children,
.rw-navbox td.subgroup {
    /*padding: 1px 2px;*/
    padding: 0;
}

.rw-navbox.rw-navbox-child,
.rw-navbox.subgroup {
    margin: 0;
}

.rw-ctable-simple tr:hover,
.rw-ctable-simple th,
.rw-ctable-simple tr.rw-ctable-thumbnail td,
.rw-navbox th.rw-navbox-label {
    background-color: rgba(192, 199, 218, 0.05);
}

.rw-navbox,
.rw-ctable-simple td {
    background-color: rgba(192, 199, 218, 0.1);
}

.rw-ctable-simple tr.rw-ctable-thumbnail:hover,
.rw-navbox.rw-navbox-child {
    background-color: transparent;
}


/*RW Note*/

.rw-note {
    overflow: hidden;
    font-style: normal;
    font-weight: 400;
    text-rendering: auto;
    line-height: 1.6em;
    padding: 12px 16px 12px 32px;
    border-left-width: 3px;
    border-left-style: solid;
    border-radius: 0;
    margin: 32px 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.rw-note:hover {
    color: #f3f3f3;
    background-color: rgba(192, 199, 218, 0.05);
    /*box-shadow: 0 0 24px 3px rgba(0, 0, 0, 0.2);*/
}

.rw-note-inner {
    border-color: rgba(192, 199, 218, 0.2);
    border-style: solid;
    border-width: 1px 1px 1px 0;
}

.rw-note strong {
    font-weight: 450;
}

.rw-note+.rw-note {
    margin-top: -16px;
}

.rw-note:before {
    display: inline-block;
    width: 32px;
    float: left;
    margin: 0 0 0 -32px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.rw-note .item {
    color: #d9cfbf;
}

.rw-note:hover .item {
    color: #f5d6a9;
}

.rw-items .item+.item::before {
    content: "、";
    font: inherit;
    line-height: inherit;
}


/*ECharts*/

.echarts-outter,
.echarts-container {
    position: relative;
    background-color: rgba(192, 199, 218, 0.05);
}

.echarts,
.echarts-option {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.echarts-loading {
    text-align: center;
    color: #c0c7da;
    background-color: rgba(192, 199, 218, 0.1);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 5;
}

.echarts-loading-hide,
.echarts-loading.complete {
    display: none;
}

.echarts-loading>.acrylic {
    z-index: 4;
}

.echarts-loading>.acrylic::before {
    z-index: 3;
}

.echarts-loading>.acrylic::after {
    z-index: 2;
}

.echarts-loading-cover {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(192, 199, 218, 0.1);
    z-index: 6;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.echarts-loading-cover:hover {
    color: #f3f3f3;
    text-shadow: 0 0 12px rgba(192, 199, 218, 0.3);
}

.echarts-loading-icon {
    margin: auto;
    z-index: 7;
}