/* 这里放置的CSS将应用于所有皮肤 */

.huiji-css-hook {
    background-image: url(http://huiji-public.huijistatic.com/rimworld/uploads/7/70/BGPlanet2.jpg);
    background-attachment: fixed;
    background-position: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-default {
    border-color: #000!important;
}

.dropdown-menu .selflink {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}

th a {
    color: #e6e6e6;
}

table.wikitable {
    font-size: 14px;
}

.thumbinner {
    border-radius: 0px;
    color: #dcdcdc;
}

#allcomments {
    color: #eee;
}

.subnav .nav-pills>:first-child {
    background-image: url(http://huiji-public.huijistatic.com/rimworld/uploads/6/69/Rimworldlogo_main.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.subnav .nav-pills>:first-child a {
    opacity: 0;
}

@font-face {
    font-family: rimworld;
    src: url('http://huiji-dl.oss-cn-qingdao.aliyuncs.com/GOTHIC.TTF');
}

.huiji-css-hook #wiki-body {
    font-family: "rimworld", "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}

.header2 a {
    color: #f3a640;
}

@media (min-width: 1440px) {
    .container {
        width: 90%;
        max-width: 1600px;
    }
}

table a {
    word-break: keep-all;
}

.hvr-bubble-float-bottom:before {
    border-color: #232020 transparent transparent;
}

.hvr-bubble-float-top:before {
    border-color: transparent transparent #232020;
}

table.tdnoborder td {
    border-width: 0!important;
}

table.tdnoborder tbody {
    border: 1px solid #000!important;
}

#ca-varlang-0,
#ca-varlang-3,
#ca-varlang-4,
#ca-varlang-5,
#ca-varlang-6,
#ca-varlang-7,
#ca-varlang-8 {
    display: none!important;
}


/*RW Button*/

.rw-icon {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: relative;
}

.rw-button {
    display: inline-block;
    width: 104px;
    height: 128px;
    position: relative;
    overflow: hidden;
    padding: 10px 0;
    -webkit-transition: .2s;
    transition: .2s;
}

.rw-button:hover {
    background-color: rgba(0, 0, 0, .1);
}

.rw-button .rw-icon {
    display: block;
    margin: auto;
}

.rw-button .rw-button-label {
    display: table-cell;
    width: 104px;
    height: 44px;
    text-align: center;
    vertical-align: middle;
}

.rw-button>a {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.rw-exhibition {
    padding-bottom: 0.5em;
    padding-top: 25px;
}


/*Hexagon icon for Biomes*/

.hexagon {
    width: 32px;
    height: 56px;
    position: absolute;
    top: 4px;
    left: 16px;
    background-color: #967136;
}

.hexagon::before,
.hexagon::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-top: 28px solid transparent;
    border-bottom: 28px solid transparent;
}

.hexagon::before {
    left: -16px;
    border-right: 16px solid #967136;
}

.hexagon::after {
    right: -16px;
    border-left: 16px solid #967136;
}

.hexagon-AridShrubland {
    background-color: #896849;
}

.hexagon-AridShrubland::before,
.hexagon-AridShrubland::after {
    border-left-color: #896849;
    border-right-color: #896849;
}

.hexagon-BorealForest {
    background-color: #64542f;
}

.hexagon-BorealForest::before,
.hexagon-BorealForest::after {
    border-left-color: #64542f;
    border-right-color: #64542f;
}

.hexagon-Desert {
    background-color: #9a7c58;
}

.hexagon-Desert::before,
.hexagon-Desert::after {
    border-left-color: #9a7c58;
    border-right-color: #9a7c58;
}

.hexagon-ExtremeDesert {
    background-color: #9e8261;
}

.hexagon-ExtremeDesert::before,
.hexagon-ExtremeDesert::after {
    border-left-color: #9e8261;
    border-right-color: #9e8261;
}

.hexagon-IceSheet {
    background-color: #a0a0a0;
}

.hexagon-IceSheet::before,
.hexagon-IceSheet::after {
    border-left-color: #a0a0a0;
    border-right-color: #a0a0a0;
}

.hexagon-Ocean {
    background-color: #3c485b;
}

.hexagon-Ocean::before,
.hexagon-Ocean::after {
    border-left-color: #3c485b;
    border-right-color: #3c485b;
}

.hexagon-SeaIce {
    background-color: #939394;
}

.hexagon-SeaIce::before,
.hexagon-SeaIce::after {
    border-left-color: #939394;
    border-right-color: #939394;
}

.hexagon-TemperateForest {
    background-color: #71693a;
}

.hexagon-TemperateForest::before,
.hexagon-TemperateForest::after {
    border-left-color: #71693a;
    border-right-color: #71693a;
}

.hexagon-TropicalRainforest {
    background-color: #5d592c;
}

.hexagon-TropicalRainforest::before,
.hexagon-TropicalRainforest::after {
    border-left-color: #5d592c;
    border-right-color: #5d592c;
}

.hexagon-Tundra {
    background-color: #836c5b;
}

.hexagon-Tundra::before,
.hexagon-Tundra::after {
    border-left-color: #836c5b;
    border-right-color: #836c5b;
}


/*ECharts*/

.echarts {
    display: inline-block;
}


/*hsla(0, 0.00%, 18.33%, 1.00)*/